.main-form {
  position: relative;
  width: 100%;
  background-color: white;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.main-form .form-header {
  width: 100%;
  background-color: white;
}

.main-form .form-body {
  display: flex;
  flex-direction: column;
}

.main-form .form-body .top {
  padding: 15px 15px 14px 15px;
  height: 163px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.main-form .form-body .content {
  width: 100%;
  height: 52.25vh;
  display: flex;
  justify-content: center;
}

.main-form .form-body .max-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-form .form-body .content .align-top {
  margin-bottom: 150px;
  margin-top: 6.6vh;
}

.main-form .form-footer {
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
